@import "tailwindcss";

html, body, #__next {
  min-height: 100%;
  min-height: 100dvh;
  background: linear-gradient(to bottom right, #eef2ff, #faf5ff);
}

html, body {
  background-color: #eef2ff;
}
